PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL git cmake libasound2-dev libboost-all-dev libavcodec-dev libavformat-dev libswscale-dev libssl-dev cython3 libv4l-dev libpcap-dev libsqlite3-dev python3-pip python3-numpy python-future python-lxml python3-future python3-lxml python3-serial python3-setuptools python3-wheel build-essential ffmpeg python3-pyudev python-future python-m2crypto libgcrypt20 libgcrypt20-dev libnl-3-dev libnl-genl-3-dev python3-pyudev libpcap0.8-dev unzip python3-iniparse pkg-config firmware-ath9k-htc"
